<ul class="cards">
    <li>
      <a href="" class="card">
        <img src="assets/img/logoNK.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header ">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="assets/img/logoNK.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title fw-bold">Natura-kid</h3>            
              <span class="card__status">projet personnel</span>
            </div>
          </div>
          <div class="card__description">
            <p >Projet réalisé pour le passage du titre de développeuse web</p>
          <button class="btn btn-outline-warning" (click)="nkVisible('nk')">En savoir plus</button>
          </div>
        </div>
      </a>      
    </li>
    <!--  -->
    <li *ngIf="nkIsVisible">
        <a href="" class="card">
          <h3 class="text-center fw-bold">Natura-kid</h3> 
       <div class="text-dark p-1">
        <p><span class="text-warning fw-bold"> Année : </span>{{myProject[0].annee}}</p>
        <p><span class="text-warning fw-bold"> Contexte : </span>{{myProject[0].contexte}}</p>
         <p><span class="text-warning fw-bold"> Maquettage : </span> Adobe XD</p>
         <p><span class="text-warning fw-bold"> Back-end : </span>{{myProject[0].backTechno}}</p>
        <p><span class="text-warning fw-bold"> Front-end : </span>{{myProject[0].frontTechno}}</p>
        <p><span class="text-warning fw-bold"> Base de données : </span>{{myProject[0].bddTechno}}</p>
        <p><span class="text-warning fw-bold"> Librairies et modules: </span>Open Weather, LeafletJS, JSPDF, LeafletGPX, MailJet, Pytest, pypi</p>  
        <p><span class="text-warning fw-bold"> Hebergement : </span>o2switch</p>  
        <p><span class="text-warning fw-bold"> Organisation de travail : </span>GitLab, Trello</p>  
        <p><span class="text-warning fw-bold"> IDE : </span>Visual studio code</p>     
       </div> 
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>  
              <div class="card__header-text">
                <button class="btn btn-outline-danger" (click)="nkIsVisible = false">Fermer la description</button>
              </div>          
            </div>
          </div>
        </a>
      </li>    
    <!--  -->
    <li>
      <a href="" class="card">
        <img src="assets/img/opsready.png" class="card__image" alt="" />
        <div class="card__overlay">        
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
            <img class="card__thumb" src="assets/img/opsready.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title fw-bold">OPSready</h3>
              <span class="card__status">Projet d'entreprise</span>
            </div>
          </div>
          <div class="card__description">
            <p >Application au service des pompiers</p>
          <button class="btn btn-outline-warning" (click)="opsVisible('ops')">En savoir plus</button>
          </div>
        </div>
      </a>
    </li>
     <!--  -->
     <li *ngIf="opsIsVisible">
        <a href="" class="card">
          <h3 class="text-center fw-bold">Opsready</h3> 
       <div class="text-dark p-1">
        <p><span class="text-warning fw-bold"> Année : </span>{{myProject[1].annee}}</p>
        <p><span class="text-warning fw-bold"> Contexte : </span>{{myProject[1].contexte}}</p>
        <p><span class="text-warning fw-bold"> Technologie mobile : </span>Xamarin Forms</p>
         <p><span class="text-warning fw-bold"> Back-end : </span>{{myProject[1].backTechno}}</p>
        <p><span class="text-warning fw-bold"> Front-end : </span>{{myProject[1].frontTechno}}</p>
        <p><span class="text-warning fw-bold"> Base de données : </span>{{myProject[1].bddTechno}}</p>
        <p><span class="text-warning fw-bold"> Méthode de travail: </span>Agile</p>  
        <p><span class="text-warning fw-bold"> Hebergement : </span>o2switch</p>    
        <p><span class="text-warning fw-bold"> IDE : </span>Visual studio</p>     
       </div> 
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>  
              <div class="card__header-text">
                <button class="btn btn-outline-danger" (click)="opsIsVisible = false">Fermer la description</button>
              </div>          
            </div>
          </div>
        </a>
      </li>    
    <!--  -->
    <li>
      <a href="" class="card">
        <img src="assets/img/opteam.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="assets/img/opteam.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title fw-bold">OPTeam</h3>
              <span class="card__status">Projet d'entreprise</span>
            </div>
          </div>
          <div class="card__description">
            <p >Application au service des pompiers</p>
          <button class="btn btn-outline-warning" (click)="optVisible('opt')">En savoir plus</button>
          </div>
        </div>
      </a>
    </li>
      <!--  -->
      <li *ngIf="optIsVisible">
        <a href="" class="card">
          <h3 class="text-center fw-bold">Opteam</h3> 
       <div class="text-dark p-1">
        <p><span class="text-warning fw-bold"> Année : </span>{{myProject[2].annee}}</p>
        <p><span class="text-warning fw-bold"> Contexte : </span>{{myProject[2].contexte}}</p>
         <p><span class="text-warning fw-bold"> Back-end : </span>{{myProject[2].backTechno}}</p>
        <p><span class="text-warning fw-bold"> Front-end : </span>{{myProject[2].frontTechno}}</p>
        <p><span class="text-warning fw-bold"> Base de données : </span>{{myProject[2].bddTechno}}</p>

        <p><span class="text-warning fw-bold"> Organisation de travail : </span>GitLab, méthode Agile</p>  
        <p><span class="text-warning fw-bold"> IDE : </span>Visual studio code</p>     
       </div> 
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>  
              <div class="card__header-text">
                <button class="btn btn-outline-danger" (click)="optIsVisible = false">Fermer la description</button>
              </div>          
            </div>
          </div>
        </a>
      </li>    
    <!--  -->
    <li> 
      <a href="" class="card">
        <img src="assets/img/aum.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
            <img class="card__thumb" src="assets/img/aum.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title fw-bold">Référend'AUM</h3>
              <span class="card__status">Projet d'entreprise</span>
            </div>          
          </div>
          <div class="card__description">
            <p >Outil à destination des commerciaux</p>
          <button class="btn btn-outline-warning" (click)="otherVisible('other')">En savoir plus</button>
          </div>
        </div>
      </a>
    </li>  
    <!--  -->
    <li *ngIf="otherIsVisible">
        <a href="" class="card">
          <h3 class="text-center fw-bold">Référend'AUM</h3> 
       <div class="text-dark p-1">
        <p><span class="text-warning fw-bold"> Année : </span>{{myProject[3].annee}}</p>
        <p><span class="text-warning fw-bold"> Contexte : </span>{{myProject[3].contexte}}</p>
         <p><span class="text-warning fw-bold"> Back-end : </span>{{myProject[3].backTechno}}</p>
        <p><span class="text-warning fw-bold"> Front-end : </span>{{myProject[3].frontTechno}}</p>
        <p><span class="text-warning fw-bold"> Base de données : </span>{{myProject[3].bddTechno}}</p> 
        <p><span class="text-warning fw-bold"> Organisation de travail : </span>GitLab, méthode Agile</p>  
        <p><span class="text-warning fw-bold"> IDE : </span>Visual studio code</p>     
       </div> 
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>  
              <div class="card__header-text">
                <button class="btn btn-outline-danger" (click)="otherIsVisible = false">Fermer la description</button>
              </div>          
            </div>
          </div>
        </a>
      </li>    
    <!--  -->  
  </ul>
