<div class="d-flex justify-content-center ">
  <div class="container row ">
    <div class="header">
      <p class="textExtend">PRINCIPAUTÉ <span class="textExtend ms-3">D'AUVERGNE</span></p>

    </div>
    <!--  -->
    <div class="bgWhite p0 bbr-radius bbl-radius">
      <div class="lineaire-simple pr">
        <p class="ra">RA</p>
        <div class="headerContent d-flex justify-content-between blueColor">
          <div class="ms-3">
            <p class="m0">Carte Régionale d'identité N°: <span> 0923E21</span></p>
          </div>
          <div class="me-2">
            <p>Nationalité Auvergnate</p>
          </div>
        </div>
        <!--  -->
        <div class="content d-flex">
          <div class="identityImg">
            <img src="assets/img/avatar.jpg" class="identityPicture" alt="">
          </div>
          <div class="identityText blueColor">
            <p class="ms-1">Nom : <span> BESNARD</span></p>
            <p class="ms-1">Prénom(s) : <span> AURELIE</span></p>
            <div class="d-flex">
              <p class="ms-1 me-5">Sexe : <span> F </span></p>
              <p class="ms-2">Né(e) le : <span> 17.10.1987</span></p>
            </div>
            <p class="ms-1">Job : <span>Développeuse Web & Web mobile</span></p>
            <p class="ms-1">Préférence: <span>Front-end</span></p>
            <p class="ms-1">Loisirs: <span>Trail, cyclisme</span></p>
          </div>
        </div>
        <!--  -->
        <div class="footer">
          <p>>>>>>>>>>>>>>>>>>WELCOMETOAUVERGNE<<<<<<<<<<<<<<<<<<<</p> </div> </div> </div> </div> </div> <!-- <div
              class="lineaire-simple">
              <p>test</p>
        </div> -->
        <div class="holder">
          <div class="ellipse"></div>
          <div class="ellipse ellipse2"></div>
        </div>
<!--  -->

