.header{
    background-color: #9d7eb0;
}
.content{
    background-color: #dfdede;
}
.portait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
.text-blue{
    color: #0d1a2d;
}