<div>
  <div class="header d-flex flex-wrap justify-content-center p-1 align-items-center">
    <div>
      <img class="portait" src="assets/img/screen.jpg" />
    </div>
    <div class="p-1">
        <h1>Aurélie <span class="text-white text-uppercase">Besnard</span></h1>
        <h3>Développeuse Web & web mobile</h3>
        <p><a class="text-white" href="mailto:aurebes@gmail.com">aurebes@gmail.com</a></p>
     
    </div>

  </div>
  <div class="content d-flex flex-column flex-wrap justify-content-center">
    <div class="text-center">
        <h2>COMPÉTENCES TECHNIQUES</h2>
    <ul class="skills">
      <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Angular &#124; Typescript</strong></li>
      <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Flask &#124; Python</strong></li>
      <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Bootstrap</strong></li>
      <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>HTML5 &#124; CSS3 &#124; SASS</strong></li>
      <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Javascript</strong></li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>PostgreSQL</strong></li>
      <li><i class="icon fas fa-check-circle text-darkblue"></i><strong> Git &#124; Github  &#124; GitLab</strong></li>
    </ul>
    </div>
    <div class="bg-white mt-2">
        <div class="section">
            <h2 class="text-center">Expériences <span class="text-blue">professionelles</span></h2>
            <p class="fw-bold">
              2021 / 2022
              <br>
             <span class="text-primary">Développeuse fullstack à temps plein chez <em>AUM BIOSYNC</em></span> 
            </p>
            <ul class="experience-list">
              <li>Réalisations de sites web sous Flask, Angular et Bootstrap</li>
              <li>Correction de problèmes détectés par les clients</li>
              <li>Réalisations de nouvelles fonctionnalités</li>
              <li>Découverte de Xamarin Forms</li>
              <li>Intégration de templates Figma</li>
              <li>Responsive design</li>
              <li>Projets en équipe, utilisation quotidienne de Git et GitLab</li>
            </ul>
          </div>
          <div class="section">
            <p class="fw-bold">
              2015 / 2020
              <br>
              <span class="text-primary">Aide soignante</span>
              
            </p>
            <ul class="experience-list">
              <li>Centre Hospitalier Paul Ardier à Issoire</li>
              <li>Clinique les Sorbiers à Issoire</li>
            </ul>
          </div>
          <div class="section">
            <h2 class="text-center">Études <span class="text-blue">& formations</span></h2>
            <p>
              <strong>Depuis 2021 </strong>
              <br>
              <em class="text-primary">Préparation au titre de Développeuse web & web mobile</em>, Web force 3 Lyon
            </p>
            <p>
              <strong>2014</strong>
              <br>
              <em class="text-primary">Diplôme d'état d'aide soignante</em>, I.F.A.S Oignies
            </p>
            <p>
              <strong>2007 / 2009</strong>
              <br>
              <em class="text-primary">Capacité en droit </em>, Université d'Auvergne
            </p>
       
          </div>
       
    </div>
    
  </div>
</div>
